@use 'tools/rem' as *;
@use 'tools/get-color' as *;

.cell {
  border-collapse: collapse;
  border-spacing: 0;
  color: get-color(dark);
  padding-top: rem(8);
  font-size: rem(16);
  padding-bottom: rem(8);
  height: 56px;
  border-bottom: 1px solid get-color(neutral-light);
}

.cell:nth-child(1) {
  width: 140px;
}

.cell:nth-child(2) {
  width: 120px;
}

.cell:nth-child(3) {
  width: 132px;
}

.cell:nth-child(4) {
  width: 200px;
}

.cell:nth-child(5) {
  width: 98px;
}

.cell:nth-child(6) {
  width: 120px;
}

.cell:nth-child(7) {
  width: 40px;
  justify-content: center;
}

.content {
  margin-right: 10px;
  height: 32px;
  background-color: get-color(neutral-light);
}
