@use 'tools/rem' as *;
@use 'tools/get-color' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 338.33px;
  height: 118.64px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.form {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: rem(535);
  width: 100%;
}

.form > *:not(:last-child) {
  margin-top: rem(32);
}

.form > *:last-child {
  margin-top: rem(56);
}

.text {
  margin-top: rem(44);
  font-weight: bold;
  font-size: rem(18);
  color: get-color(neutral);
}

.link {
  color: get-color(primary);
  text-decoration: none;
}
