// @use 'tools/index' as *;
@use 'sass:map';
@use 'tools/get-color' as *;

$base-font-size: 1em;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  user-select: -moz-none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

html {
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

html,
body {
  font-family: Inter, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  background-color: get-color(secondary);
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
