@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/roboto/roboto-regular.woff2') format('woff2'),
    url('../../fonts/roboto/roboto-regular.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/roboto/roboto-bold.woff2') format('woff2'),
    url('../../fonts/roboto/roboto-bold.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/montserrat/montserrat-bold.woff2') format('woff2');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/montserrat/montserrat-semi-bold.woff2') format('woff2');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-display: block;
  font-family: icons;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/icons/icomoon.woff?d5vve0') format('woff');
}
