@use 'tools/rem' as *;
@use 'tools/get-color' as *;

.button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  transition: background-color 0.1s;
}

.primary {
  color: get-color(primary);
}

.neutral {
  color: get-color(neutral);
}

.primary:hover {
  background-color: rgba($color: get-color(primary), $alpha: 0.12);
}

.primary:hover {
  background-color: rgba($color: get-color(neutral), $alpha: 0.12);
}
