@use 'tools/rem' as *;
@use 'tools/get-color' as *;

.container {
  border: transparent 2px solid;
  display: flex;
  background-color: get-color(light);
  justify-items: center;
  padding: rem(8) rem(12);
  height: rem(56);
  flex-direction: column;
  cursor: text;
  position: relative;
  width: 100%;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.container:focus-within {
  border: get-color(primary) 2px solid;
}

.label {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.2s;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  font-size: rem(16);
  line-height: 1;
  z-index: 10;
  cursor: text;
  color: get-color(neutral);
  letter-spacing: 0.01249em;
  font-weight: bold;
}

.input:focus {
  outline: none;
}

.input {
  position: absolute;
  display: block;
  height: 100%;
  z-index: 20;
  color: get-color(neutral);
  border: none;
  top: 0;
  left: 0;
  padding-left: rem(12);
  padding-top: rem(12);
  width: 100%;
  background-color: transparent;
}

.error {
  border: 1px solid #f44336;
}

.container:focus-within .label,
.input:not(:placeholder-shown) ~ .labelTransformed {
  font-size: rem(12);
  z-index: 30;
  transform: translateY(-150%);
}
