.content {
  background-image: url('../../assets/images/formBackground.png');
  background-position: 30% center;
  background-size: 2922px 2047px;
  background-repeat: no-repeat;
  min-height: 100vh;
}
