@use 'settings/_breakpoints' as *;
@use 'tools/index' as *;

.content {
  position: relative;
  max-width: rem(535);
  margin-right: auto;
  margin-left: auto;
}

.backgroundDecoration {
  display: none;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -90%;
  transform: rotate(-8deg);
}

@media only screen and (min-width: $lg) {
  .backgroundDecoration {
    display: block;
  }
}
